<h1>
  <%= gravatar_for current_user, size: 80 %>
  <%= current_user.name %>
</h1>
<br />
<ul>
    <li><h3><%= current_user.email %></h3></li>
    <li><h3><%= current_user.phone %></h3></li>

</ul>
<p><i>! NEEDS CSS STYLING</i></p>
<p><i>! Add send email here</i>></p>
