<li>
  <h4><%= scope.name%></h4>
  <br>
    <% if current_user.admin?%>
      <%= link_to "delete", scope, method: :delete,
                                    data: { confirm: "You sure?" }, class: "btn btn-small" %>
    <% end %>
</li>