<table class="advertising">
	<tr>
		<td><%= link_to image_tag( 'coke.jpg'), 'http://www.cocacolazero.com/', :target => "_blank" %></td>
		<br />
	</tr>
	<tr>
		<td><%= link_to image_tag( 'camella.jpg'), 'http://www.camella.com.ph/', :target => "_blank" %></td>
		<br />
	</tr>
	<tr>
		<td><%= link_to image_tag( 'ayos.jpg'), 'http://www.ayosdito.ph/', :target => "_blank" %></td>
		<br />
	</tr>
	<tr>
		<td><%= link_to image_tag( 'nso.jpg'), 'http://www.census.gov.ph/', :target => "_blank" %></td>
		<br />
	</tr>
	<tr>
		<td>Advertise!</td>
		<br />
	</tr>
</table>